# PulsePoint Twitter bot settings
agencyids = ["57035"]
TWEET_SLEEP_TIME = 10
PP_API_SLEEP = 30
MINUTES_REMOVE = 5

# Twitter credentials
consumer_key = ''
consumer_secret = ''
access_token = ''
access_token_secret = ''

# PulsePoint credentials
username = ''
password = ''
apikey = ''
